.pList {
	position: relative;
	width: 450px;
	margin: 0 auto;
}

.pList li {
	list-style-type: none;
}

.pList span.w {
	display: inline-block;
	width: 78%;
	text-align: left;
}

.pList span.b {
	display: inline-block;
	width: 20%;
}

#chatWrap {
	background-color: #9bbad8;
	width: 450px;
	margin: 0 auto;
	min-height: 600px;
	position: relative;
}

#chatBox {
	position: absolute;
	bottom: 0px;
	padding: 20px;
	height: 80px;
}

#chatInputBox {
	width: 330px;
	float: left;
	height: 100%;
}

#chatInput {
	border: 0px;
	width: 100%;
	height: 100%;
	resize: none;
	padding: 10px;
	box-sizing: border-box;
}

#chatSendBtn {
	width: 80px;
	float: right;
	height: 100%;
	background-color: #ffec42;
}

#chatSendBtn span {
	display: block;
	height: 100%;
	line-height: 80px;
}

#chatLog {
	padding: 10px;
	overflow: hidden;
	overflow-y: auto;
}

#chatLog li {
	padding: 10px;
}

.fMsg {
	padding-left: 10px;
	text-align: left;
}

.fMsg span.chatMsg {
	padding: 5px;
	background-color: #ffffff;
	border-radius: 10px;
}

.mMsg {
	padding-right: 10px;
	text-align: right;
}

.mMsg span.chatMsg {
	padding: 5px;
	background-color: #ffec42;
	border-radius: 10px;
}