* {
	padding: 0px;
	margin: 0px;
}

li {
	list-style-type: none;
}

#wrap {
	text-align: center;
	min-width: 1500px;
}

#wrap > div {
	position: absolute;
	top: 120px;
	left: 50%;
	margin-left: -250px;
	width: auto;
	min-width: initial;
}

#wrap > div#chatWrapDiv {
	left: 50%;
	margin-left: -250px;
	width: auto;
	min-width: initial;
}