* { 
	margin: 0px; 
	padding: 0px; 
}
#wrap { 
	text-align: center; 
	width: 1000px; 
	margin: 50px auto 0px; 
}
#wrap>div { 
	vertical-align: top; 
}
#leftDiv { 
	width: 20%; 
	display: inline-block; 
}
#centerDiv { 
	width: 58%; 
	display: inline-block; 
}
#mainDiv { 
	background-image: url('../images/bg_main.png'); 
	background-repeat: no-repeat; 
	height: 700px;
	position: relative; 
	text-align: left;
	padding: 30px 0px 0px 30px;
}
#loginDiv {
	position: absolute;
	top: 190px;
	left: 475px;
	background-image: url('../images/bg_login.png');
	width: 220px;
	height: 160px;
}
#loginDiv #uId {
	top: 45px;
	left: 70px;
	width: 100px;
	border: 0;
	background-color: transparent;
	position: absolute;
	color: #ffffff;
}
#loginDiv #uPw {
	top: 74px;
	left: 88px;
	width: 120px;
	border: 0;
	background-color: transparent;
	position: absolute;
	color: #ffffff;	
}
#loginDiv #loginSubmit {
	top: 101px;
	left: 133px;
	position: absolute;
}
#rightDiv { 
	width: 20%; 
	display: inline-block; 
}